.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

h1{
  margin: 0;
}
.header{
  background-color: #192a56;
  padding: 14px;
  color: rgb(190, 188, 188);
  width: 100%;
}
.form{
  margin-top: 40px;
  margin-left: 20px;
  color: black;
 
}


.data{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  width: 100%;
}
.data_val{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 4px 20px 4px 20px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px
  
}